{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <form action="/login" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="cnpj" name="cnpj" placeholder="CNPJ" type="text" required>
        </div>
        <div class="mb-3 senha">
            <input class="form-control mx-auto w-auto" id="senha" name="senha" placeholder="Senha" type="password" required>
        </div>
        <div class="adm">
            <a class="adm_link" href="/adm-login" style="font-size: 12px;">Entrar como administrador</a>
        </div>
        
        <button action="/adm-login" class="btn btn-primary" type="submit">Log In</button>
    </form>
{% endblock %}
